@import "variables";

#content {
    margin-left: $sidebar-width;
    padding: 20px;
    transition: all 0.3s;

    &.large {
        margin-left: $sidebar-small-width;
        transition: all 0.3s;
    }
    
    .item.active {
        display: block;
    }
    
    .item {
        display: none;
    }
}

@media (max-width: $media-small) {
    #content {
        margin-left: $sidebar-small-width;
    }  
}