#correlationDashboard {
    .navbar-container {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .navbar {
        margin-bottom: 20px;
        background-color: #e3f2fd;
    }

    .sensorSelect {
        width: 150px;
        margin-left: 10px;
    }

    .checkClass {
        margin-left: 15px;
    }

    .checkBothClasses {
        margin-left: 30px;
    }

    .navbar-label {
        color: black;
        opacity: 0.6;
    }
}