@import "variables";

.navbar-container {
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar {
    margin-bottom: 20px;
    background-color: $navbar-background;
}

.navbar-indent {
    margin-left: 15px;
}

.navbar-small-indent {
    margin-left: 10px;
}

.navbar-group-indent {
    margin-left: 30px;
}

.navbar-label {
    color: $navbar-label-color;
    opacity: 0.6;
}