<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block title %}
        Smart Steel Technologies - Frontend Demo
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bundle.css') }}">
  </head>
  <body>
    <script src="{{ url_for('static', filename='vendors.js') }}"></script>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
