{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    $(function() {
        layout('sidebar', 'content')
            .then(app => app.selectDashboard('sensorDistDashboard'))
            .catch(err => console.error(err));
    });
</script>
    
<div id="sidebar-small">
    <p class="expand-button">&#9776;</p>
</div>

<nav id="sidebar">
    <p class="header">Smart Steel</p>
    <p class="collapse-button">&times;</p>

    <ul class="list-unstyled">
        <li>
            <span class="item" data-item="sensorDistDashboard">Sensor Distribution</span>
        </li>
        <li>
            <span class="item" data-item="sensorCorrDashboard">Sensor Correlation</span>
        </li>
    </ul>
</nav>

<div id="content">
    <div id="sensorDistDashboard" class="item">
    </div>

    <div id="sensorCorrDashboard" class="item">
        <div class="navbar-container">
            <nav class="navbar navbar-light">
                <div class="form-inline">
                    <span class="navbar-text">
                        Choose sensor
                    </span>
                    <select class="form-control sensorSelect">
                    </select>
                    <div class="custom-control custom-radio checkClassPos">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="correlationDashboard-classPos"
                            name="checkClass"
                            value="1">
                        <label
                            class="custom-control-label navbar-label"
                            for="correlationDashboard-classPos">Class +1</label>
                    </div>
                    <div class="custom-control custom-radio checkClassNeg">
                        <input
                            type="radio"
                            class="custom-control-input"
                            id="correlationDashboard-classNeg"
                            name="checkClass"
                            value="-1">
                        <label
                            class="custom-control-label navbar-label"
                            for="correlationDashboard-classNeg">Class -1</label>
                    </div>
                </div>
            </nav>
        </div>
        <div class="correlationCharts">
        </div>
    </div>
</div>

{% endblock %}