{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    $(function() {
        layout('sidebar', 'content')
            .then(app => app.selectDashboard('distributionDashboard'))
            .catch(err => console.warn(err));
    });
</script>

<div id="sidebar-small">
    <p class="expand-button">&#9776;</p>
</div>

<nav id="sidebar">
    <p class="header">Smart Steel</p>
    <p class="collapse-button">&times;</p>

    <ul class="list-unstyled">
        <li>
            <span class="item" data-item="distributionDashboard">Distribution Dashboard</span>
        </li>
        <li>
            <span class="item" data-item="correlationDashboard">Correlation Dashboard</span>
        </li>
        <!-- <li>
            <a href="#dashboards2" data-toggle="collapse" aria-expanded="false" class="groupitem dropdown-toggle">Dashboards 2</a>
            <ul class="collapse list-unstyled" id="dashboards2">
                <li>
                    <span class="item subitem" data-item="dashboard2.1">Dashboard 2.1</span>
                </li>
                <li>
                    <span class="item subitem" data-item="dashboard2.2">Dashboard 2.2</span>
                </li>
                <li>
                    <span class="item subitem" data-item="dashboard2.3">Dashbaord 2.3</span>
                </li>
            </ul>
        </li>-->
    </ul>
</nav>

<div id="content">
    <div id="distributionDashboard" class="item">
        <div id="sensor_data"></div>
        <div id="sensor_dist"></div>
    </div>
    <div id="correlationDashboard" class="item">
        <div id="sensor_data2"></div>
    </div>
</div>

{% endblock %}